<form method="post" class="form-comentar publicacion login">
    <h4>Login</h4>
    <label for="Email">Email</label><input type="text" name="nombreUsuario" />
    <br />
    <label for="Password">Password</label><input type="password" name="contrasena" />
    <br />
    <button type="submit">Login</button>
    <p>@ViewBag.Mensaje</p>
</form>